name: Build Rewrite Kotlin

on:
  workflow_dispatch:
  push:
    branches:
      - rewrite-kotlin
    paths-ignore:
      - README.md

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Setup JDK
        uses: actions/setup-java@v5
        with:
          distribution: "temurin"
          java-version: "25"
          cache: "gradle"

      - name: Make gradlew executable
        run: chmod +x ./gradlew

      - name: Build
        run: ./gradlew assembleRelease

      - name: Upload artifacts
        uses: actions/upload-artifact@v5
        with:
          name: app-release.apk
          path: app/build/outputs/apk/release/app-release.apk
